@import '../utils/index.css';
@import '../components/status-bar.css';
@import '../components/movie.css';
@import '../components/navbar.css';
@import '../components/bottom-navbar.css';
@import '../components/play.css';
@import url('/styles/components/notification.css');
@import url('/styles/components/remind.css');

.center {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
  
.smart-downloads {
    display: flex;
    align-items: center;
  }
  
.smart-downloads__img {
    width: 15px;
  }
  
.smart-downloads__text {
    font-size: 14px;
    margin-left: 4px;
  }

.description p{
    font-size: 12px;
    font-weight: 400;
    color: #c4c4c4;
    padding-bottom: 12px;
    width: 95%;
    margin: 0 auto;
}

.description h1{
    font-size: 19px;
    font-weight: 700;
    padding-bottom: 12px;
    width: 95%;
    margin: 0 auto;
}

.ball {
    width: 7px;
    height: 7px;
    background-color: #c4c4c4;
    border-radius: 50px;
}

.description__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 5px;
}

.description__bottom p{
    color: white;
    font-weight: 600;
}

