.notification {
    background-color: #424242;
    width: 375px;
    height: 65px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

.notification img{
    padding-left: 12px;
}

.notification__text h1{
    font-size: 14;
    font-weight: 500;
    padding-left: 30px;
}

.notification__text p{
    font-size: 10;
    font-weight: 50;
    padding-left: 30px;
    color: #c4c4c4;;
    
}